<HEADER class="jumbotron">
    <H1>Sosyal Ağ Analizi ve İçeriklerin Sınıflandırılması</H1>
    <P>Sosyal ağ üzerinden akan içerinklerin Bayes Algoritması kullanılarak sınıflandırılması ve elde edilen verilerin değerlendirilmesi...</P>
</HEADER>