<HR>
<DIV class="row">
    <DIV class="col-md-4 text-center">
        <UL>
            <LI><A href="#">Anasayfa</A></LI>
            <LI><A href="#">İstatistikler</A></LI>
        </UL>
    </DIV>
    <DIV class="col-md-4 text-center">
        <UL>
            <LI><A href="#">Anasayfa</A></LI>
            <LI><A href="#">İstatistikler</A></LI>
        </UL>
    </DIV>
    <DIV class="col-md-4 text-center">
        <UL>
            <LI><A href="#">Anasayfa</A></LI>
            <LI><A href="#">İstatistikler</A></LI>
        </UL>
    </DIV>
</DIV>
<HR>
<DIV class="col-md-12 text-center">This web site prepared by Yusuf DURSUN and Adem YAĞMURLU who are studying at software engineering. © All rights reserved.</DIV>