<DIV class="jumbotron text-center">
    <H3>İstatistikler</H3>
    <DIV>Tweet hoşnutsuzluğu: <PROGRESS max="100" value="20" /></DIV>
    <DIV>Arkadaşlarınızın genel tweet hoşnutsuzluğu: <PROGRESS max="100" value="35" /></DIV>
</DIV>