@font-face
{
  font-family: CaboldComicOutlineDemo;
  src:font-url('Cabold-Comic-Outline-demo.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: JuraDemiBold;
  src:font-url('Jura-DemiBold.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.baslik{font-family: CaboldComicOutlineDemo, Arial, Helvetica; font-weight: bold;}
.icerik{font-family: JuraDemiBold, Arial, Helvetica; font-weight: bold;}